.add-icon {
  margin-right: 0.5em;
  cursor: pointer;
}

.is-invalid {
  border-color: tomato;
  background-color: rgb(236, 110, 88);
}

.error-msg {
  margin-left: 1em;
  color: snow;
  background-color: tomato;
  display: inline-block;
  padding: 0.2em 0.6em;
  border-radius: 0.2em;
}
